@model Medico

@{
    ViewData["Title"] = "Editar Médico";
}

<h1>Editar Medico: @Model.Nombre @Model.Apellido</h1>
<div asp-validation-summary="ModelOnly"class = "text-danger"></div>


<form asp-action="Editar">

     <input type = "hidden" asp-for ="Id" />
    <div class="mb-3">
        <label asp-for=" Nombre" class="form-label">Nombre</label>
        <input type="text" asp-for=" Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for=" Apellido" class="form-label">Apellido</label>
        <input type="text" asp-for=" Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for=" NumeroTelefono" class="form-label">Número telefónico</label>
        <input type="text" asp-for=" NumeroTelefono" class="form-control" />
        <span asp-validation-for="NumeroTelefono" class="text-danger"></span>

    </div>
    @*    <div class="mb-3">
    <label asp-for=" CorreoElectronico" class="form-label">Email</label>
    <input type="text" asp-for=" CorreoElectronico" class="form-control" />
    </div>*@

    <div class="mb-3">
        <label asp-for="Rethus" class="form-label"></label>
        <input type="text" asp-for="Rethus" class="form-control" />
        <span asp-validation-for="Rethus" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
